.badge{
    /* margin: 0 5px; */
    height: 200px;
}

@media screen and (max-width: 1200px) {
    #heading{
        font-size: 75px;
    }
} 

@media screen and (max-width: 982px) {
    #heading{
        font-size: 65px;
    }
}